{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "global"],
    "no-unused-vars": 0,
    "no-unused-expressions": 0,
    "yoda": 2,
    "curly": 0,
    "no-use-before-define": 0,
    "no-multi-spaces": 0
  }
}
